<p id="notice"><%= notice %></p>

<h1>Listing Invoices</h1>

<table cellspacing="20">
  <thead>
    <tr>
      <th>Game</th>
      <th>Customer</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @invoices.each do |invoice| %>
      <tr>
        <td><%= invoice.game_id %></td>
        <td><%= invoice.customer_id %></td>
        <td><%= invoice.date %></td>
        <td><%= link_to 'Show', invoice %></td>
        <td><%= link_to 'Edit', edit_invoice_path(invoice) %></td>
        <td><%= link_to 'Destroy', invoice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Invoice', new_invoice_path %>
<br><br>
<%= link_to 'Back', private_home_path %>