<h1>Database Administrator View</h1>
<p>Below is a listing of maintenance functions.</p> <br>

<p> 
    <%= link_to 'Customers Database', customers_path %>
    <br><br>
    <%= link_to 'Games Database', games_path %>
    <br><br>
    <%= link_to 'Prices Database', prices_path %>
    <br><br>
    <%= link_to 'Invoices Database', invoices_path %>
    <br><br>
    <%= link_to 'Users Database', users_path %>
    <br><br><br>
    <%= link_to 'Show Games Customers Purchased', private_custgamesin_path %>
</p>

<br><br><br><br><br>
<%= link_to 'Back', root_path%> 