<%# <script src="../_js/jquery-1.7.2.min.js"></script> %>
<%# I imported my Jquery from the Google API because I was unable to get the tag above to work %>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/assets/confirm.js" type="text/javascript"></script>

<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :info %><br>
    <%= f.text_area :info %>
  </div>
  <div class="field">
    <%= f.label :linkToGame %><br>
    <%= f.text_field :linkToGame %>
  </div>
  <input name="submitButton" type="submit" id="confirmButton" value="Submit Data" length = 20> </p>
  <br>
<% end %>
